@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Диски?</h1>
    <p class="lead">Я взял стандартный шаблон бутстрапа и подредактировал некоторые элементы. Здесь должны быть наиболее привлекательные предложения или описание преимуществ изделий.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Подробнее</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Модель данных</h2>
        <p>
            Для организации связи многие-ко-многим от таблицы Products к таблице Cart, я
            создал сущность Orders, которая хранит id продукта, кол-во, id корзины пользователя.
            Возможно, я не совсем верно понял и корзину в БД не нужно хранить, а нужно просто добавить 
            к таблице Orders поле id Сессии.
        </p>
        <p><a class="btn btn-default" href="#">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SQL Server и БД</h2>
        <p>
            Для ASP.NET Identity я изменил строку подключения, чтобы база данных создавалась в папке App_Data.
            Название строки подключения - "ShopUsersConStr". Для хранения данных о товарах, заказах и тд. создал отделюную базу,
            строка подключения - "ShopDBConStr". Т.к. у меня не установлен SQL Server Express я указал не (localdb), а localhost!
            Для добавления поля IsPartner в модель пользователя миграции не использовал, но понимаю что это.
        </p>
        <p><a class="btn btn-default" href="#">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Контекс данных и MVC</h2>
        <p>
            Я понимаю какие требования к структуре приложения выдвигаются при реализации MVC
            Но из-за отсутствия опыта я не знаю как это сделать лучше. Попытался отделить модель 
            от конкретной реализации через EntityRepository и снизить время работы с контекстом.
        </p>
        <p><a class="btn btn-default" href="#">Подробнее &raquo;</a></p>
    </div>
</div>